* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 100%;
    border: 0 none;
    background: none repeat scroll 0 0 transparent
}

*:focus, *:active {
    outline: 0
}

body, html {
    height: 100%;
    background-color: #292D33;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}


html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased
}



#rotate{
    width:100%;
    height:100%;
    position:absolute;
    z-index: 3000;
    top:0px;
    left:0px;
    background: white url('../images/rotate-to-portrait.png') no-repeat center center;
    display:none;
}


.cts-gradient {
    background: linear-gradient(0deg, rgba(244,188,13,1) 0%, rgba(227,128,1,1) 75%);
}

.cts-gradient-dark {
    background: linear-gradient(0deg, rgba(195,93,1,1) 0%, rgba(248,146,18,1) 80%);
}


.bg-light-orange {
    background-color: #ffcb65;
}

.cts-pink, .cts-pink:hover {
    background:  #ff0101;
}




.game_title{
    font-size:20px;float:left;padding-left: 15px;
    text-transform: uppercase;
}


.start_container{
    width:100%;
    height:90px;
    padding-left: 15px;
    position:relative;
}



#crossword_theme{
    position:absolute;
    bottom:5px;
    margin-bottom: 0;
    left:15px


}

#btn_start_wrapper{
    position: absolute;
    z-index: 10;
    right:10%;
    bottom:0
}

#btn_start{
    bottom: -27.5px;
}

#chrono{
    position:absolute;
    left:15px;
    top:7px
}

#header_clue_wrapper{
    width:100%;
    height:36px;
    padding-left: 15px;
    position:relative;
    z-index: 500
}

img {
    vertical-align: middle;
    -ms-interpolation-mode: bicubic
}




button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button
}


.clear, #intro:after {
    clear: both
}


#intro:before, #intro:after {
    display: table;
    line-height: 0;
    content: ""
}

.dialog_btn{
    width:100px;
    font-size: 10px;
    padding-left:5px;
    padding-right:5px;
    text-align: center;
}

#modal2{
    width:90%;
}




#description{
    margin-top:15px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
    text-align: left;
}

.primary_text{
    color: rgba(255, 255, 255, 0.87);
}

#intro_content h1 {
    font: bold 26px/30px Arial, Helvetica, sans-serif
}





#content {
    height: 100%;
    background-color: #292D33;
    position: relative
}



#intro, #crossword {
    display: none;
    min-height: 100%
}

#crossword {
    display: block;
    position: absolute;
    width: 100%;
    top: -99999em;
    min-height: 100%;
    background-color: #cfcfcf
}

#game_view {
    background-color: #fff;
    width:100%;
}





#intro {
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
}

.fixed-action-btn{
    position: absolute;
    padding: 5px;
    border-radius: 100%;
    background: linear-gradient(0deg, rgba(150, 1, 0, 1) 0%, rgba(251, 0, 0, 1) 80%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#intro_content {
    text-align: center;
    padding: 2px 16px 124px;
    max-width: 460px;
    margin: 30px auto
}





#logo img {
    width: 146px;
    height: auto;
}

#logo {
    padding: 20px 0 10px
}


.material-icons.md-48 { font-size: 48px; }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.v_center{
    vertical-align: middle;
    display: table-cell !important;
}

.toolbar_item{
    line-height:56px;
    height:56px;
}



#loader {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    background-color: #f5f5f5;
}

.preloader-wrapper{
    top: 45%;
}


#header_clue{
    display:table;
    vertical-align: middle;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:100%;
}



.visible {
    display: block
}



@media all and (min-width: 500px) {

    #logo img {
        width: 182px;
        height: auto
    }

}

@media all and (min-width: 700px) {
    #logo img {
        width: 240px;
        height: auto
    }
}

@media (max-width: 600px) {

    .fixed-action-btn{
        bottom: 10px !important;
        right: 10%;
    }

    #clue_list{
        display: none;
    }

    .dialog_btn{
        width:90px;
    }

    #description{
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #logo {
        padding: 0px 0 10px;
    }
}






.page-footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:36px;
    display: table;
    padding:0 !important;
    margin-top: 0 !important;
    padding-top: 11px !important;
}


#clue_list{
    position: absolute;
    bottom: 0;
    max-height: none !important;
    cursor: default;
}

.clue_list_wrapper{
    height: 50%;
    position: relative;
}

.clue_list_label{
    height:20px;
    font-weight: bold;
    font-size: 14px;
    padding-left: 5px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #f9f9f9;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(148,148,148,1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(148,148,148,1);
    box-shadow: 0px 1px 1px 0px rgba(148,148,148,1);
}

.clue_text{
    font-size: 13px;
    padding-left: 5px;
    display: block;
}

#across_list, #down_list{
    position: absolute;
    width: 100%;
    top:20px;
    bottom:0;
    overflow-y: scroll;
}



.clue_hover{
    background: rgba(232, 234, 246, 0.50);;
}





.clue_highlight{
    background: #c5cae9;
}


.tile_animator {
    display: block; position: absolute;
    background: #4f52bb;
    border-radius: 100%;
    transform: scale(0);
}

.tile_animator.animate {animation: ripel 0.7s ease-in;}




.ink {
    display: block;
    position: absolute;
    background: #c5cae9;
    border-radius: 100%;
    transform: scale(0);
}

.ink.animate {animation: ripel 0.5s linear;}


@keyframes ripel {
    100% {opacity: 0; transform: scale(2.5);}
}

#clue_list ul li {
    list-style-type: none;
    position: relative;
    overflow: hidden;
}

#clue_list ul li a {
    display: block;
    color:black;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

li{
    cursor:pointer;
}


#board {
    position: absolute;
    z-index: 1;
    width: 100%;
    background: #cfcfcf;
    overflow: hidden;
    top: 100px;
    bottom: 36px
}


@media all and (min-width: 600px) {
    #content {
        max-width: 796px;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, .25) 0 5px 15px;
        background-color: #fff
    }

    body, html {
        background-color: #e2e2e2
    }

    #game {
        width: 65%;
        float: left
    }

    #clue_list{
        box-shadow: none;
        position: relative;
        width: 35%;
        float: right;
        top: inherit;
        left: inherit;
        bottom: inherit
    }

    .desc_wrapper {
        float: right;
        width: 62%
    }

    #logo {
        float: left;
        width: 36%
    }

    #logo img {
        max-width: 100%
    }

    #intro_content {
        max-width: 780px !important;
        padding: 35px 16px 20px 0 !important
    }

    #clue_list {
        width: 35%;
        background-color: #fff;
        bottom: 36px;
        max-height: inherit !important;
        position: absolute;
        top: 100px;
        overflow: auto;
        right: 0;
        border-radius: 0
    }

    #board {
        bottom: 60px
    }

    .fixed-action-btn{
        bottom: 18px;
    }
}



.bitmap_icon{
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}

@media all and (max-width: 480px) {

    #board {
        top: 89px
    }

}



#modal2.modal-footer a{
    font-size: 10px;
}

.modal {
    background: linear-gradient(90deg, rgba(253,1,0,1) 0%, rgba(154,0,0,1) 100%);
    color: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.modal .modal-footer {
    background-color: transparent;
    padding-left: 24px;
    padding-right: 24px;
    border: 0 !important;
}

#modal2 .modal-footer {
    display: flex;
    justify-content: space-between;
}

.cts-bg-green {
    background-color: #1ca549;
}
.cts-bg-yellow {
    background-color: #dcb824;
}
.cts-bg-orange {
    background-color: #1791b8;
}

.cts-btn {
    border-radius: 12px;
    line-height: 26px;
    height: 26px;
    color: #fff;
}




#dragger {
    -webkit-transition: all 300ms cubic-bezier(0.085, 0.385, 0.420, 0.975);
    -moz-transition: all 300ms cubic-bezier(0.085, 0.385, 0.420, 0.975);
    -ms-transition: all 300ms cubic-bezier(0.085, 0.385, 0.420, 0.975);
    -o-transition: all 300ms cubic-bezier(0.085, 0.385, 0.420, 0.975);
    transition: all 300ms cubic-bezier(0.085, 0.385, 0.420, 0.975);
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
    /* background-color: #444444; */
}





.hidden {
    display: none
}


#svg2{
    width:90%;
    height:auto;
}



.checkmark {
    width: 200px;
    margin: 0 auto;
}

#congrat{
    overflow:hidden;
}



.check{
    stroke-dasharray: 110;
    stroke-dashoffset: -110;
    stroke-width: 0;
}

.check-complete{
    -webkit-animation: check 1s ease-in forwards;
    animation: check 1s ease-in forwards;
    stroke-width: 15;
    stroke-dashoffset: 0;
}





#key_interceptor{
    position:absolute;
    font-size: 1px;
    opacity: 0;
    left: -100px;
    top: -100px;
    -webkit-user-modify: read-write-plaintext-only;
}

#key_interceptor:focus{
    -webkit-user-modify: read-write-plaintext-only;
}


@media all and (min-width:600px) {
    #board {width:65%!important; margin: auto; 	bottom:36px;}
}

input[type="password"] { border:0 none; height:1px; background-color:transparent;}

